@charset "UTF-8";

/* font-family */
p {
	font-family: Arial;
}

h1 {
	font-family: georgia;
}

/* font-size */

body {
	font-size: 10px;
}

h1 {
	font-size: 5.0em;
}

p {
	font-size: 2.0em;
}

span {
	font-size: 2.0em;	
}

/* Font-weight */
p {
	font-weight: bold;
}

/* Line-height	*/
p {
	line-height: 1.5;
}

/* text-align */
h1 {
	text-align: center;
}

/*	Text-Decoration	*/
p {
	text-decoration: underline;
}

h1 {
	text-decoration: line-through;
}