<% include partials/header %>

    <h1>Empty EJS Template</h1>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUE7pjMI_ohlF1Uj778EdjuvdK-7UqAFnKVN6wDHNByaYH0Gp2">

<% include partials/footer %>